*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

/* Utility Classes */
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

/* Backgrounds */
.bg-light{
  background-color: #ffffff;
}

/* Button */
.btn{
  background-color: #333333;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover{
  background-color: #000000;
  transform: scale(0.97);
}

/* Main Title */
.main-title{
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
  margin-top: 2rem;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  box-shadow: 2px 2px 10px rgb(85, 85, 85);
}

.form-box{
  width: 400px;
  height: 320px;
}

#results{
  width: 400px;
  height: 230px;
}

input{
  width: 89%;
  padding: 10px;
  margin-bottom: 1rem;
  transition: all 0.2s ;
  font-size: 1rem;
  color: #333333;
}

#form input:hover{
  border: 3px solid rgb(85, 5, 233);
  box-shadow: 2px 2px 10px 5px rgba(97, 97, 84, 0.403);
}

.input-without-beginner{
  width: 98%;
}

.result-input{
  width: 63%;
  background-color: #d8cdcd;
}

.input-beginner{
  position: relative;
  background-color: #cdcfd8;
  padding:12px;
  left: 4px;
  border: 1px solid #6d6969;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  color: #333333;
}

.pl{
  padding-left: 2.3rem;
}

/* Make loading and results unvisible */
#loading , #results{
  display: none;
}

/* Error-box */
.Error-box{
  background-color: rgba(235, 45, 45, 0.9);
  color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

/* Footer */
.footer-content{
  color: #333333;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: 2px 2px 10px rgb(85, 85, 85);
  padding: 10px;
}

/* media query */
@media (max-width: 500px){

  .main-title{
    font-size:1.3rem;
  }

  .form-box{
    width: 200px;
    height: 320px;
  }
  
  #results{
    width: 200px;
    height: 230px;
  }

  #results .input-beginner{
    font-size: 0.6rem;
    padding-top: 18px;
    padding-bottom: 12px;
  }

  .result-box{
    position: relative;
    left: -30px;
    text-transform: uppercase;
    font-weight: bolder;
  }

  input{
    width: 77%;
  }

  .result-input{
    width: 40%;
    border-right:  2px solid #6d6969;
    border-bottom:  2px solid #6d6969;
  }

  .pl{
    padding-left: 2.1rem;
  }

  .Error-box{
    font-size: 0.8rem;
  }
  
}

